:host {
  --tui-chart-0: #c779d0;
  --tui-chart-1: #feac5e;
  --tui-chart-2: #ff5f6d;
  --tui-chart-3: #4bc0c8;
  --tui-chart-4: #59a566;
  --tui-chart-5: #b25c98;
  --tui-chart-6: #cb9e49;
  --tui-chart-7: #b41fd5;
  --tui-chart-8: #a1e71e;
  --tui-chart-9: #a46163;
  --tui-chart-10: #e28710;
}

.item {
  margin: 0 0.5rem 0.75rem 0;
}
