<div class="relative flex flex-col">
  <div
    class="absolute border-r-2 border-gray-200 bottom-1 top-1 dark:border-gray-800"
    style="z-index: -1; left: 15px"
  ></div>
  <ul>
    <li *ngFor="let date of commitDates">
      <div   class="flex">
        <div
          class="list-item-indicator w-8 h-8 rounded-full shrink-0 border-8 bg-neutral-400 border-zinc-50"
        ></div>
        <p class="list-item-title font-medium py-1 px-2" >Commits on {{date|date}}</p>
      </div>
      <div class="list-item-description p-2 ml-12 text-neutral-500">

        <app-commit [commit]=commit *ngFor="let commit of dateDictionary[date]" ></app-commit>
    <div>

    </div>
      </div>
    </li>

  </ul>
</div>
